[access]
	inheritFrom = All-Projects
[project]
	description = SD card image for Raspberry Pi with Docker: HypriotOS
[access "refs/*"]
	owner = group user/rb422w
[access "refs/for/refs/*"]
	read = group user/rb422w
	push = group user/rb422w
	label-Code-Review = -2..+2 group user/rb422w
	label-Verified = -1..+1 group user/rb422w
	rebase = group user/rb422w
	removeReviewer = group user/rb422w
	submit = group user/rb422w
[access "refs/heads/*"]
	read = group user/rb422w
	create = group user/rb422w
	push = +force group user/rb422w
	pushMerge = group user/rb422w
[access "refs/tags/*"]
	push = group user/rb422w
	push = +force group user/rb422w
